<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Inkpot - Global Feed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./assets/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Global feed</a></li>
                <li><a href="/upload">Add image</a></li>
                <li><a href="/about">About this page</a></li>
            </ul>
        </nav>
        <main>
            <h1>Inkpot</h1>

            Welcome! This is the Inkpot feed. It's a never-ending feed of images meant to be displayed on your e-paper display. Find out more on the <a href="/about">about page</a>.

            <h2>Feed</h2>
            <i>Feed is currently empty.</i>
        </main>
    </body>
</html>
