<!doctype html>
<html lang="en">
    <head>
        {{ template "_header.html" }}
        <title>Inkpot - Upload Image</title>
    </head>
    <body>
        {{ template "_navi.html" }}
        <main>
            <h1>🦑 Inkpot</h1>
            <h2>Upload Image</h2>
            {{ if .error }}
            <p class="message error">{{ .error }}</p>
            {{ end }}
            {{ if .info }}
            <p class="message info">{{ .info }}</p>
            {{ end }}
            <form method="POST" id="upload" action="/upload" enctype="multipart/form-data">
                <label>
                    Channels, separated by comma: <input type="text" name="channels" placeholder="default" id="channels">
                </label>
                <label>
                    Image: <input type="file" accept="image/png, image/jpeg, image/gif" name="file" id="file">
                </label>
                <input type="submit" value="Yeet!">
            </form>
        </main>
    </body>
</html>
