<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Inkpot - Upload Image</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦑</text></svg>">
        <link rel="stylesheet" href="./assets/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Global feed</a></li>
                <li><a href="/upload">Add image</a></li>
                <li><a href="/about">About this page</a></li>
            </ul>
        </nav>
        <main>
            <h1>🦑 Inkpot</h1>
            <h2>Upload Image</h2>
            {{ if .error }}
            <p class="message error">{{ .error }}</p>
            {{ end }}
            {{ if .info }}
            <p class="message info">{{ .info }}</p>
            {{ end }}
            <form method="POST" id="upload" action="/upload" enctype="multipart/form-data">
                <label>
                    Channels, separated by comma: <input type="text" name="channels" placeholder="default" id="channels">
                </label>
                <label>
                    Image: <input type="file" accept="image/png, image/jpeg, image/gif" name="file" id="file">
                </label>
                <input type="submit" value="Yeet!">
            </form>
        </main>
    </body>
</html>
